@{
    Layout = null;
    var data = new[] { 1, 2, 3, 4, 5 };
}@{
    foreach (var i in data)
    {
        @i
    }
    @:
    foreach (var i in data)
    {
        @($"{i} ")
    }
    @:
<ul>
        @foreach (var i in data)
        {
  <li>@i</li>
        }
</ul>
}

<a href="@HttpUtility.UrlPathEncode("/Ho me/Index")?q=@Url.Encode("多 奇/123")">123</a>